* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 74.8%;
    max-height: 600px;
    background-color: #FDDE7E;
    margin: 200px auto;
}

.content {
    height: 506px;
    display: flex;
    justify-content: space-around;
}

.box-item {
    background-color: white;
    width: 346px;
    height: 405px;
    margin: 49px 23px;
    text-align: center;
}

.cost {
    display: inline-block;
    font-size: 80px;
    margin-top: 20px;
    color: #02995B;
    text-align: center;
}